:root {
  --white: #fefefe;
  --white-opacity-80: rgba(255, 255, 255, 0.8);

  --black: #1a1a1a;

  --gray: #787878;
  --gray-light: #d0d0d0;

  --success-light: #94d3a2;
  --success: #2ea44f;
  --success-dark: #2c974b;
}
