.screenShadow {
  position: absolute;
  opacity: var(--opacity-60);
  background-color: black;
  width: var(--full-width);
  height: var(--full-height);
  z-index: var(--level-1);
  top: 0;
  left: 0;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
}
