.title { 
  font-size: var(--font-size-l);
  color: var(--black);
}

.formulary {
  position: absolute;
  background-color: var(--white);
  max-width: 400px;
  min-width: 200px;
  width: 90vw;
  height: auto;
  z-index: var(--level-2);
  border-radius: var(--radius);
  padding: var(--space);
}

.id {
  font-size: var(--font-size);
  color: var(--gray-light);
}

.content {
  padding-top: var(--space-lg);
}
